<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<script src="https://cdn.jsdelivr.net/vue/latest/vue.js"></script>
<script th:src="@{/js/vuesample.js}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<title>野球チーム表示</title>
</head>
<body>

<h3>野球チーム一覧</h3>
    <div id="ajaxAccess">
        <ul>
          <li v-for="team in teamList" >
            <a v-bind:href=" '/' + contextPath + '/detail?id=' + team.id">{{team.teamName}} </a>
          </li>
        </ul>
    </div>


<div id="createTeam">
  <p><input v-model="teamName" placeholder="新しいチーム名"/> {{ teamName }}</p>
  <p><input v-model="leagueName" placeholder="セ・パリーグ"/> {{ leagueName }}</p>
  <p><input v-model="headquarters" placeholder="本拠地"/>    {{ headquarters }}</p>
  <p><input v-model="inauguration" placeholder="設立年月日"/> {{ inauguration }}</p>
  <p><input v-model="history" placeholder="歴史"/>           {{ history }}</p>
  
  <button v-on:click="register">登録</button>
</div>

</body>
</html>